.playwrite-at-uniq {
    font-family: "Playwrite AT", cursive;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.playwrite-nz-basic-uniq {
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

/* Banner layout */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background: linear-gradient(135deg, #6c63ff, #8ec5fc);
    transition: background-position 0.5s ease;
    color: white;
    text-align: center;
    animation: fadeUp 1s ease-out;
}


/* Banner content */
.banner__content {
    max-width: 600px;
    padding: 0 5vw;
}

/* Text styling */
.banner h1 {
    font-size: 6vw;
    margin-bottom: 20px;
}

.banner p {
    font-size: 2vw;
    margin-bottom: 30px;
}

/* Button */
.banner button {
    background-color: white;
    color: #6c63ff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: linear-gradient(to right, #8ec5fc, #6c63ff);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.3s ease;
}

.banner button:hover {
    background-color: #f2f2f2;
    transform: scale(1.05);
    color: #8ec5fc;
    background-position: right;
}

.card {
    background-color: #8ec5fc;
    width: 280px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/*
.card:active {
    animation: fadeOut 3s ease-in;
}
*/
.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 50px;
    margin-bottom: 15px;
}

.card h2 {
    color: white;
    margin-bottom: 5px;
    text-align: center; 
}

.card h3 {
    color: white;
    margin: 0 auto;
    text-align: center;
}

.card p {
    color: white;
    font-size: 15px;
    margin: 8px 0;
}

/* Animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(30px);
    }
}

/* Responsive design */
@media (max-width: 768px) {
    .banner h1 {
        font-size: 8vw;
    }

    .banner p {
        font-size: 4vw;
    }

    .banner button {
        padding: 12px 24px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .banner {
        flex-direction: column;
        padding: 10vh 5vw;
    }

    .banner h1 {
        font-size: 10vw;
    }

    .banner p {
        font-size: 5vw;
    }
}